<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Final Pyhton</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1>Classificadores para frequência de compras de consumidores</h1>    

    <main class="formata">
        <section>
            <h2>Escolha o classificador:</h2>

            <div>
                <form id="meu_form">
                    <input list="classificadores">
                    <datalist id="classificadores">
                        <option value="KNN">
                        <option value="MLP">
                        <option value="DT">
                        <option value="RF">
                    </datalist>
                    <input type="submit" value="Escolher">
                </form>

                <div class="display_none" id="parameters">
                    <div class="display_none" id="div_mlp">
                        <input type="text" name="learning_rate_init" id="mlp" placeholder="learning_rate_init:    float">
                        <input type="text" name="max_iter" id="mlp" placeholder="max_iter:    int">
                        <input type="text" name="random_state" id="mlp" placeholder="random_state:    int">
                    </div>

                    <div class="display_none" id="div_rf">
                        <input type="text" name="n_estimators" id="rf" placeholder="n_estimators:    int">
                        <input type="text" name="max_leaf_nodes" id="rf" placeholder="max_leaf_nodes:    int">
                        <input type="text" name="random_state" id="rf" placeholder="random_state:    int">
                    </div>

                    <div class="display_none" id="div_dt">
                        <input type="text" name="max_depth" id="dt" placeholder="max_depth:    int">
                        <input type="text" name="max_features" id="dt" placeholder="max_features:    ">
                        <input type="text" name="random_state" id="dt" placeholder="random_state:    int">
                    </div>

                    <div class="display_none" id="div_knn">
                        <input type="text" name="n_neighbors" id="knn" placeholder="n_neighbors:    int, float or {'auto', 'sqrt', 'log2'}">
                        <input type="text" name="leaf_size" id="knn" placeholder="leaf_size:    int">
                    </div>
                </div>
            </div>

            <h2>Métricas:</h2>

            <div>
                <div class="metricas">
                    <p class="esquerda">Acurácia: </p>

                    <p class="direita">{{ accuracy }}</p>
                </div>

                <div class="metricas">
                    <p class="esquerda">F1-Score: </p>

                    <p class="direita">{{ f1 }}</p>
                </div>
            </div>
        </section>

        <section class="display_none" id="divisor"><i></i></section>

        <section class="display_none" id="matriz_confusao">
            <h2>Matriz de Confusão: </h2>

            <div>
                <img src="../static/images/figuraplot.png" alt="figuraplot">
            </div>
        </section>
    </main>

    <script>
        document.getElementById('classificadores').addEventListener('change', function() {
            var selectedClassifier = this.value;
            if (selectedClassifier === 'KNN') {
                document.getElementById('parameters').classList.remove('display_none');
                document.getElementById('div_knn').classList.remove('display_none');
            } else if (selectedClassifier === 'MLP') {
                document.getElementById('parameters').classList.remove('display_none');
                document.getElementById('div_mlp').classList.remove('display_none');
            } else if (selectedClassifier == 'DT') {
                document.getElementById('parameters').classList.remove('display_none');
                document.getElementById('div_dt').classList.remove('display_none');
            } else if (selectedClassifier == 'RF') {
                document.getElementById('parameters').classList.remove('display_none');
                document.getElementById('div_rf').classList.remove('display_none');
            }
        });

        document.getElementById('meu_form').addEventListener('submit', function() {
            document.getElementById('divisor').classList.remove('display_none');
            document.getElementById('matriz_confusao').classList.remove('display_none');
        });
    </script>
</body>
</html>