<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Final Pyhton</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1>Classificadores para frequência de compras de consumidores</h1>    

    <main class="formata">
        <section>
            <h2>Escolha o classificador:</h2>

            <div>
                <form action="/process" method="post" id="meu_form">
                    <select name="classificadores" id="classificadores">
                        <option value="KNN">KNN</option>
                        <option value="MLP">MLP</option>
                        <option value="DT">DT</option>
                        <option value="RF">RF</option>
                    </select>
                    <input type="submit" value="Escolher">
                </form>

                {% block classificador %}
                {% endblock %}
            </div>

            <h2>Métricas:</h2>

            {% block metricas %}
            <div>
                <div class="metricas">
                    <p class="esquerda">Acurácia: </p>

                    <p class="direita">{{ accuracy }}</p>
                </div>

                <div class="metricas">
                    <p class="esquerda">F1-Score: </p>

                    <p class="direita">{{ f1 }}</p>
                </div>
            </div>
            {% endblock %}
        </section>

        {% block imagem %}
        <section class="display_none" id="divisor"><i></i></section>

        <section class="display_none" id="matriz_confusao">
            <h2>Matriz de Confusão: </h2>

            <div>
                
            </div>
        </section>
        {% endblock %}
    </main>

</body>
</html>